$blue: orange;


.estilo{
    color: $blue;
    font-weight: bold;
    text-align: center;
    background: green;
    

}

img{
    display:block;
    width: 400px;
    margin: auto;
    
}

imgDibu{
    display:block;
    height: 800px;
    margin: auto;
}

