body {
  font-family: sans-serif;
  color: white; }

div.flex-container {
  margin: 0;
  padding: 0; }

.flex-container div {
  height: 50px;
  padding-top: 45px;
  font-size: 1.8em;
  text-align: center; }

.darken4 {
  background: #120102; }

.darken3 {
  background: #420409; }

.darken2 {
  background: #71080f; }

.darken1 {
  background: #a10b15; }

.baseColor {
  background: #f02230; }

.lighten1 {
  background: #f3525d; }

.lighten2 {
  background: #f68289; }

.lighten3 {
  background: #fab1b6; }

.lighten4 {
  background: #fde1e3; }
