.header-container {
  display: flex;
  flex-direction: column; }
  .header-container .logo {
    display: -webkit-inline-flex;
    background: pink;
    font-size: 25px;
    justify-content: space-between; }
  .header-container .menu-container {
    display: inline-block;
    border: 1px solid grey;
    border-bottom: 1px solid grey;
    box-shadow: 0 1px 1px 0px grey; }
    .header-container .menu-container nav ul li {
      display: inline-block;
      color: black; }
    .header-container .menu-container nav ul li a:hover {
      background-color: goldenrod; }

@media screen and (max-width: 350px) {
  .header-container .logo .titulo {
    display: none; }
  .header-container .menu-container {
    display: inline-block;
    border: 1px solid grey;
    border-bottom: 1px solid grey;
    box-shadow: 0 1px 1px 0px grey;
    margin-top: 80px; }
    .header-container .menu-container nav ul li {
      display: inline-block;
      color: black; }
    .header-container .menu-container nav ul li a:hover {
      background-color: goldenrod; } }
