body {
  margin: 0;
  padding: 0; }

.flex-container {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  background: yellowgreen; }
  .flex-container div {
    max-width: 400px;
    margin: auto; }
    .flex-container div img {
      width: 100%;
      height: 300px;
      margin: 5px;
      padding: 5px;
      border: 2px double goldenrod; }
