
.header-container{
    display: flex;
    flex-direction: column;
    .logo{
        display: -webkit-inline-flex;
        background: pink;
        font-size: 25px;
        justify-content: space-between;  
        
       
       
    }
   
.menu-container{
    display: inline-block;
    border: 1px solid grey;  
    border-bottom: 1px solid grey;
    box-shadow: 0 1px 1px 0px grey;
    
   
        nav ul li{
        display: inline-block;
        color:black;
        
        }
       nav ul li a:hover{
        background-color: goldenrod;
        
       }
    }
  
}
   //media queries
   @media screen and (max-width: 350px) {
     .header-container{
        .logo{
           // background: aquamarine;
            .titulo{
                display:none;
            }   
        }
        .menu-container{
            display: inline-block;
            border: 1px solid grey;  
            border-bottom: 1px solid grey;
            box-shadow: 0 1px 1px 0px grey;
            margin-top: 80px;
            
           
                nav ul li{
                display: inline-block;
                color:black;
              
                }
               nav ul li a:hover{
                background-color: goldenrod;
                
               }
            }
    }
   
      
   }

